
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-color: rgb(245, 212, 217);
   background-image: url(https://i.pinimg.com/564x/fd/ae/99/fdae99c1063190bb64ef99b428713d97.jpg);
   background-repeat: no-repeat;
   background-size: cover;
    
}
h1{
  
    font-family: 'Franklin Gothic Medium';
    font-size: 50px;
    text-align: center;
        
    
}

input{
    text-align: center;
    background-color:rgb(188, 222, 140);
    margin:80px;
    padding: 10px;
    width: 400px;
    height: 50px;
    border-radius: 500px;
   
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
}
button{
    margin:10px ;
    padding: 10px;
    border-radius: 10px;
        ;
}